@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.button {
  @apply w-full py-2.5 mb-2 bg-blue-600 text-white rounded hover:bg-blue-700
}

/* .text-button{

}

.text-button:hover{
  @apply font-semibold;
} */

.label {
  @apply block text-base font-medium;
}

.input {
  @apply w-full px-3 py-2 mb-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
